*{
    box-sizing: border-box;
}
html{
    background: linear-gradient(270deg, #1E959B 0%, #AFDEDE 100%);
    background: #F8FFFF;
}
a{
    text-decoration: none;
}
button{
    cursor: pointer;
    outline: none;
    border: none;
}
@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  
    75% {
      font-size: 300%;
      margin-left: 25%;
      width: 150%;
    }
  }
@keyframes showLeft {
    
    from {left:-100%;}
    
    to {left:0;}
    
    }
    
@keyframes showRight {
    
    from {right:-100%;}
    
    to {right:0;}
    
    }
    .container{
        margin: 0 auto;
        width: 1410px;
    }
          
 @media screen and (min-width: 401px) and (max-width: 1100px) {
            /* #social-top { display: none; }   hide it elsewhere */
            .header-main{display: block; flex-direction: column;}
            .header-main__main{padding-top: 120px; width: 500px;}
            .container{width: 700px;}
            .header-menu__logo-image{display: block;}
            .header-menu{display: block; flex-direction: column;}
            .header-menu__social{padding-top: 70px;}
          }
@media screen and (min-width: 0px) and (max-width: 401px) {
            #social-top { display: none; }   /* hide it elsewhere */
            .header-main{display: block; flex-direction: column;}
            .header-main__main{padding-top: 80px;}
            .container{width: 200px;}
          }

.header-menu{
    padding-top: 31px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation-duration: 4s;
    animation-name: slidein;
}
.header-menu__social{
    display: flex;
    align-items: center;
    padding-right: 66px;
}
.header-menu__social-image{
    padding-right: 66px;
}
.header-menu__social-image__phone{
    padding-right: 16px;
}
.header-menu__social-phone__num{
    display: flex;
    align-items: center;
    margin-right: 58px;
}
.header-menu__phone{
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #1E959B;
}
.header-menu__social-button{
    background: #F05670;
    border-radius: 15px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    padding: 23px 40px;
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;

}
.header-menu__social-button:hover{
    background: #FFFFFF;
    border-radius: 15px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color:#F05670;
    padding: 23px 40px;
    box-shadow: 0 0 40px 40px #FFFFFF inset;
   
}
.header-main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 100px;
}
.header-main__info-title{
    margin: 0;
    padding-bottom: 16px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    text-transform: uppercase;
    color: #1E959B;
}
.header-main__info-description{
    margin: 0;
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #3C3C3C;
    padding-bottom: 50px;
}
.header-main{
    color: #fff;
    font-size: calc(16px + 1.2vw);
    font-weight: 700;
    margin-bottom: 30px;
    position: relative;
    animation: showLeft 4s;
    z-index: 1;
    }